# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store/

# IDEs and other tools
.DS_Store

# Terraform
.terraform/
*.tfplan
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# SSH Keys
id_rsa
